@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Josefin Sans', sans-serif;
}
.logo{
    color: white;
    font-size: 28px;
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
button{
    border: none;
    background: #ea1538 ;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url('https://media.gettyimages.com/id/1363638825/pt/foto/vegan-plant-based-asian-food-recipes-with-rice-and-brown-rice-as.jpg?s=612x612&w=0&k=20&c=g7v2RSpFZjKWKvHI74QsmNhGz8Segz-MTYz8SGJFzW4=') no-repeat;

}
/*Fim do Cabeçario*/
.titulo{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
    font-size: 30px;
    
    background-size: contain; 
    background-size: 100% 100%;
    background-position: center;
    font-family: "Playfair Display", serif;
    color: rgb(173, 38, 38);
}
h1{
   margin-bottom: 12px;
}
.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    /* Textura de papel queimado */
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar o card */
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
    font-size: 30px;
    
    background-size: contain; 
    background-size: 100% 100%;
    background-position: center;
    font-family: "Playfair Display", serif;
    color: rgb(173, 38, 38);
    backdrop-filter: blur(5px);

  }